<div class="container">
    <div class="content has-text-centered">
        <p>This is a test site for a coursework project. This is a site to be name <strong>CSB</strong>. Created by
            Ankur Mahto.</p>
    </div>
</div>