<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <%= link_to "CSB", root_path, class:"button has-text-weight-bold is-size-3 is-italic is-primary is-inverted"%>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <%= link_to "Sign In", root_path, class: "button is-black is-inverted" %>
    </div>
    <div class="navbar-item">
      <%= link_to "Register", root_path, class: "button is-primary"%>
    </div>
  </div>
</nav>