<div class="section">
    <div class="container">
        <h1 class="landing-subtitle">We are<br>
            <strong class="landing-title has-text-primary is-italic"><%= t("app_title")%></strong>
        </h1>
        <h1 class="is-size-4"><%= t("app_desc") %></h1>
    </div>
    <div class="container">
        <p class="is-size-5">Join now and get £100 free.</p>
    </div>
</div>

<div class="section">
    <div class="container">
        <h1 class="is-size-1">Why us?</h1>
        <p><%= t("app_title") %> is a brand-new bank so why should you trust us over so many well-established banks.
        </p><br>
        <ol>
            <li>We are a bank that will never lose your money. We have an infinity pool of money and so we can never
                go bankrupt.</li>
            <li>We offer great security. We follow a two-factor authentication system which uses a login system so
                that your information and money is always secure.</li>
            <li>We understand what people want, so we are building a system that requires no paperwork whatsoever. This
                means less time will be spent on admins reading contracts and more on processing your requests.</li>
            <li>We are completely online. We have no branches and no cards. Through this method, we operate at no cost,
                which means we are dedicated to delivering the best service we can without running into any financial
                issues.</li>
        </ol>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="notification is-danger">
            <h1 class="is-size-2">Disclaimer</h1>
            <p>Please note that this is <strong>NOT</strong> a real bank and your money not transferrable
                to or from accounts of other banks. <br>
                CBS is not accountable for any false sense of wealth you may believe you have whilst using this site.
                <br><br>
                Any cards you have on this site, will not be delivered to you and there are no branches where they can
                be picked up. This is because they <strong>DO NOT EXIST</strong>. <br>
                Do NOT use the account details (Account No, Sort-Code or CVC) provided by <%= t("app_title")%> to make
                any real-world purchases on any site outside of this one. These transactions will not go through. <br>
                Do NOT list your CBS card details anywhere.
            </p>
        </div>
    </div>
</div>