<div class="section">
    <div class="container">
        <h1 class="landing-subtitle">We are<br>
            <strong class="landing-title has-text-primary is-italic"><%= t("app_title")%></strong>
        </h1>
        <h1 class="is-size-4"><%= t("app_desc") %></h1>
    </div>
    <div class="container">
        <p class="is-size-5">Join now and get £500 free.</p>
    </div>
</div>

<div class="section">
    <div class="container">
        <h1 class="is-size-1">Why us?</h1>
        <%= t(".why_us_html")%>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="notification is-danger">
            <h1 class="is-size-2">Disclaimer</h1>
            <p><%= t('.disclaimer_message_html')%></p>
        </div>
    </div>
</div>