<div class="section">
    <div class="container">
        <h1 class="landing-subtitle">Welcome to <br>
            <strong class="landing-title has-text-primary is-italic">CSB</strong>
        </h1>
    </div>
    <div class="container">
        <p class="is-size-4">Join now and get £100 free.</p>
    </div>
</div>